:root {
	--border-lines-col: grey;
	--border-lines-thickness: 1px;
}

body {
	background-color: aliceblue;
	margin: 0;
	font-family: 'Tilt Neon', sans-serif;
}
html {
	margin-top: 2rem;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 500;
}

h4 {
	padding-top: 2rem;
	font-size: 1.6rem;
	width: fit-content;
	color: #339b33;
}

.short-rule {
	margin: 2rem 0;
}
.main-wrapper {
	padding: 3rem;
}

.fake-line {
	border-top: var(--border-lines-thickness) solid var(--border-lines-col);
	margin-top: 1rem;
}

ul {
	/* margin: 0;
	padding: 0; */
	list-style-position: inside;
}

.two-cols {
	border-top: var(--border-lines-thickness) solid var(--border-lines-col);
	display: flex;
	justify-content: center;
	align-items: flex-start;
	padding-top: 1rem;
}

.two-cols div:first-of-type {
	border-right: var(--border-lines-thickness) solid var(--border-lines-col);
	padding-right: 0.5rem;
}
.two-cols div:last-of-type {
	padding-left: 1rem;
}

.two-cols > * {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	/* outline: 1px solid red; */
}

.date {
	color: grey;
	font-weight: 700;
	font-size: 1.3rem;
}

.background-logo {
	background-image: url('../images/yoobee_black_logo.svg');
	background-repeat: no-repeat;
	background-position: top center;
	background-origin: content-box;
	background-clip: content-box;
	background-size: 350px auto;
}
